################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CifSQL/.vs/CifSQL/v16/.suo
