################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CifSQL/v16/.suo
/.vs
/CifSQL/.vs/